/*mobile first*/

* {
  text-decoration-color: none;
  list-style: none;
  box-sizing: border-box;
}

/*               *\
        HOME
\*               */

body {
  display: flex;
  justify-content: center;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container {
  display: flex;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all ease 0.5s;
}

nav a:hover {
    font-weight: 600;
    color: black;
}
/*                   *\
       CONTENIDO
\*                   */

/* MODIFICACION NAVBAR */

.nav-container-materiales {
  position: absolute;
  bottom: 0;
  align-self: center;
}

/*  IMG ESQUINITAS */

.top-left {
  position: relative;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: right;
}

/*                   *\
       REMERAS
\*                   */

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

/* IMG GRANDE */
.img-container-remeritas {
  display: flex;
  justify-content: right;
  width: fit-content;

}
.img-remeritas {
  width: 79.8%;

}

.img-remeritas img { 
   width: 100%;
}

.info-container-remeritas {
  width: 80%;
  z-index: 1;
}

.info-remeritas {
  height: 409px;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 2em;
}

.btn-dark {
    position: relative;
    bottom: -120px;
}

/* HEADERS */

/*                   *\
       CONTACTO
\*                   */

form { 
    width: 35%;
    align-self: center;
    justify-self: center;
    border: solid black;
    
}

.contacto-center {
    border: solid red;
}

.input-cantidad {
    font-size: 13.2px;
}

